---
import '../style/global.scss';
import { getCollection } from 'astro:content';
import Layout from '../layouts/Post.astro';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Timestamp from '../components/Timestamp.astro';

export async function getStaticPaths() {
  const postEntries = await getCollection('posts');
  return postEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { slug, data } = entry;

const { Content } = await entry.render();

const { title, description, dateModified, datePublished, draft } = data;

---

<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <BaseHead
      title={title}
      description={description}
      dateModified={dateModified.toString()}
      datePublished={datePublished.toString()}
      path={slug}
      isDraft={draft}
    />
  </head>
  <body>
    <Header as="strong" />
    <main class="container">
      <h1 class="title">{title}</h1>
      <Timestamp dateModified={dateModified.toString()} />
      <Layout frontmatter={entry.data}>
        <Content />
      </Layout>
    </main>
    <Footer />
    <style lang="scss">
      .title {
        margin: 0 0 12px;
        color: hsl(var(--color-shade150));
        font-size: 3.6rem;
        line-height: 48px;
      }
    </style>
  </body>
</html>
