---
import { SITENAME } from '../../constants';

interface Props {
  title: string;
  description: string;
  dateModified: string;
  datePublished: string;
  path?: string;
}

const { title, description, dateModified, datePublished, path } =
  Astro.props as Props;

const handleStartingSlash = (thePath?: string) => {
  if (thePath === undefined) return;

  return thePath.startsWith('/') ? thePath.slice(1) : thePath;
};

const ogCoverPath = path
  ? `images/${handleStartingSlash(path)}/og.jpg`
  : 'og.jpg';
const canonicalPath = path ? handleStartingSlash(path) : '';

const schema = () => {
  const website = {
    '@type': 'Website',
    name: SITENAME,
    url: import.meta.env.SITE,
  };

  const blogPosting = {
    '@type': 'BlogPosting',
    url: `${import.meta.env.SITE}${canonicalPath}`,
    name: title,
    dateModified: dateModified,
    datePublished: datePublished,
    author: [
      {
        '@type': 'Person',
        name: 'Yuming Cheung',
        url: 'https://read.cv/ymcheung',
      },
    ],
    publisher: {
      '@type': 'Organization',
      name: 'Intersection',
      url: 'https://intersection.tw',
      logo: {
        '@type': 'ImageObject',
        name: 'Intersection: 優化、插件、高清、視頻、反饋、交互設計：已經看膩這些中國網路媒體用語。',
        width: 400,
        height: 400,
        url: 'https://build.intersection.tw/intersection.png',
      },
    },
  };

  return JSON.stringify({
    '@context': 'https://schema.org/',
    '@graph': [website, ...(path ? [blogPosting] : [])],
  });
};
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={`${import.meta.env.SITE}${canonicalPath}`} />
<link rel="icon" sizes="any" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/intersecrtion.svg" />
<link rel="apple-touch-icon" href="/intersection.png" />
<link rel="manifest" href="/favicons/site.webmanifest" />
<meta property="og:type" content={path ? 'article' : 'website'} />
<meta property="og:site_name" content={SITENAME} />
<meta property="og:url" content={`${import.meta.env.SITE}${canonicalPath}`} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={`${import.meta.env.SITE}${ogCoverPath}`} />
<meta
  property="og:image:alt"
  content={`${title}${path ? `（發表於${SITENAME}）` : ''}`}
/>
{
  path && (
    <>
      <meta property="og:article:modified_time" content={dateModified} />
      <meta property="og:article:published_time" content={datePublished} />
      <meta property="og:article:author" content="Yuming Cheung" />
    </>
  )
}
<meta property="twitter:card" content="summary_large_image" />
<meta
  property="twitter:url"
  content={`${import.meta.env.SITE}${canonicalPath}`}
/>
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={`${import.meta.env.SITE}${ogCoverPath}`}
/>
<meta name="format-detection" content="telephone=no" />
<meta property="fb:app_id" content="1241704385975640" />
<script type="application/ld+json" set:html={schema()}></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
/>
{
  import.meta.env.PROD && (
    <script data-respect-dnt async src="https://cdn.splitbee.io/sb.js" />
  )
}
{
  import.meta.env.PROD && (
    <script
      async
      src="https://analytics.intersection.tw/tracker.js"
      data-ackee-server="https://analytics.intersection.tw"
      data-ackee-domain-id="bb701655-bfd8-4bff-989f-096c19b553d9"
    />
  )
}
