---
import { SITENAME } from '../../constants';

interface Props {
  title: string;
  description: string;
  dateModified: string;
  datePublished: string;
  path?: string;
}

const { title, description, dateModified, datePublished, path } =
  Astro.props as Props;

const trailingSiteName = path ? ` - ${SITENAME}` : '';

const handleStartingSlash = (thePath?: string) => {
  if (thePath === undefined) return;

  return thePath.startsWith('/') ? thePath.slice(1) : thePath;
};

const ogCoverPath = path
  ? `images/${handleStartingSlash(path)}/og.jpg`
  : 'og.jpg';
const canonicalPath = path ? handleStartingSlash(path) : '';

const schema = JSON.stringify({
  '@context': 'https://schema.org',
  '@graph': [
    {
      '@type': 'BlogPosting',
      url: `${import.meta.env.SITE}${canonicalPath}`,
      name: title,
      dateModified: dateModified,
      datePublished: datePublished,
      author: [
        {
          '@type': 'Person',
          name: 'Yuming Cheung',
          url: 'https://read.cv/ymcheung',
        },
      ],
      publisher: {
        '@type': 'Organization',
        name: 'Intersection',
        url: 'https://intersection.tw',
        logo: {
          '@type': 'ImageObject',
          name: 'Intersection: 優化、插件、高清、視頻、反饋、交互設計：已經看膩這些中國網路媒體用語。',
          width: 400,
          height: 400,
          url: 'https://build.intersection.tw/intersection.png',
        },
      },
    },
  ],
});
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{title}{trailingSiteName}</title>
<meta name="description" content={description} />
<link rel="canonical" href={`${import.meta.env.SITE}${canonicalPath}`} />
<link rel="icon" sizes="any" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/intersecrtion.svg" />
<link rel="apple-touch-icon" href="/intersection.png" />
<link rel="manifest" href="/favicons/site.webmanifest" />
<meta property="og:type" content={path ? 'article' : 'website'} />
<meta property="og:url" content={`${import.meta.env.SITE}${canonicalPath}`} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={`${import.meta.env.SITE}${ogCoverPath}`} />
<meta property="og:image:alt" content={`${title}（發表於${SITENAME}）`} />
{
  path && (
    <>
      <meta property="og:article:modified_time" content={dateModified} />
      <meta property="og:article:published_time" content={datePublished} />
      <meta property="og:article:author" content="Yuming Cheung" />
    </>
  )
}
<meta property="twitter:card" content="summary_large_image" />
<meta
  property="twitter:url"
  content={`${import.meta.env.SITE}${canonicalPath}`}
/>
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta
  property="twitter:image"
  content={`${import.meta.env.SITE}${ogCoverPath}`}
/>
<meta name="format-detection" content="telephone=no" />
<script type="application/ld+json" set:html={schema}></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
/>
{import.meta.env.PROD && <script async src="https://cdn.splitbee.io/sb.js" />}
