---
import Timestamp from './Timestamp.astro';

interface Props {
  title: string;
  description: string;
  dateModified: string;
  sticker?: string;
  path?: string;
}

const { title, description, dateModified, sticker, path } = Astro.props as Props;
---

<li class="indexListItem">
  <a class="link" href={path}>
    {!!sticker &&
      <figure class="sticker">
        <img src={`/images${path}/sticker.svg`} alt={`${sticker} 的標誌`} />
      </figure>
    }
    <h2 class="title">{title}</h2>
    <Timestamp dateModified={dateModified} />
    <p class="description">{description}</p>
    <span class="action">📃&nbsp;閱讀</span>
  </a>
</li>
<style lang="scss">
  .indexListItem {
    list-style-type: none;
  }

  .link {
    display: block;
    text-decoration: none;
  }

  .sticker {
    height: 40px;
    margin: 0 0 8px;
    padding: 0;
  }

  .title {
    margin: 0 0 12px;
    color: hsl(var(--color-shade150));
    font-size: 2.4rem;
    line-height: 32px;
  }

  .description {
    margin: 0 0 16px;
    color: hsl(var(--color-shade130));
    font-size: 16px;
    line-height: 24px;
  }

  .action {
    display: block;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
    padding: 14px 0 12px;
    color: hsl(var(--color-shade10));
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    background-color: hsl(var(--color-accent));
    border-radius: 6px;
  }
</style>
