---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import Timestamp from './Timestamp.astro';

interface Props {
  title: string;
  description: string;
  dateModified: Date;
  sticker?: ImageMetadata;
  stickerAlt?: string;
  path?: string;
}

const { title, description, dateModified, sticker, stickerAlt, path } =
  Astro.props as Props;
---

<li class="indexListItem">
  <a class="link" href={`/${path}`} aria-labelledby={path}></a>
  {
    !!sticker && !!stickerAlt && (
      <figure class="sticker">
        <Image src={sticker} alt={stickerAlt} height="40" />
      </figure>
    )
  }
  <h2 id={path} class="title">{title}</h2>
  <Timestamp dateModified={dateModified.toString()} />
  <p class="description">{description}</p>
  <span class="action">📃&nbsp;閱讀</span>
</li>
<style lang="scss">
  .indexListItem {
    position: relative;
    list-style-type: none;
  }

  .link {
    display: block;
    position: absolute;
    inset: 0;
    z-index: 0;
  }

  .sticker {
    height: 40px;
    margin: 0 0 8px;
    padding: 0;
  }

  .title {
    margin: 0 0 12px;
    color: hsl(var(--color-shade150));
    font-size: 2.4rem;
    line-height: 32px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    text-decoration-style: wavy;
    text-decoration-thickness: 4px;
    transition: text-decoration-color 0.15s ease-in;

    .indexListItem:hover & {
      text-decoration-color: hsl(var(--color-shade30));
    }
  }

  .description {
    margin: 0 0 16px;
    color: hsl(var(--color-shade130));
    font-size: 16px;
    line-height: 24px;
  }

  .action {
    display: block;
    width: 100px;
    margin-right: 0;
    margin-left: auto;
    padding: 14px 0 12px;
    color: hsl(var(--color-shade150));
    font-size: 1.6rem;
    line-height: 1;
    text-align: center;
    border: 2px solid hsl(var(--color-accent));
    border-radius: 6px;
    transition: color 0.15s ease-in, background-color 0.15s ease-in;

    .indexListItem:hover & {
      color: hsl(var(--color-shade10));
      background-color: hsl(var(--color-accent));
    }
  }
</style>
