---
import '../style/global.scss';
import BaseHead from '../components/BaseHead.astro';
import Timestamp from '../components/Timestamp.astro';

interface Props {
  frontmatter: {
    title: string;
    description: string;
    datePublished: string;
    dateModified: string;
  };
  url: string;
}

const { frontmatter, url } = Astro.props as Props;
const { title, description, datePublished, dateModified } = frontmatter;
---

<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <BaseHead
      {title}
      {description}
      {dateModified}
      {datePublished}
      permalink={url}
    />
  </head>
  <body>
    <h1 class="title">{title}</h1>
    <Timestamp {dateModified} />
    <article class="article">
      <slot />
    </article>
    <style lang="scss">
      .title {
        color: hsl(var(--color-shade150));
        font-size: 3.2rem;
      }

      .article {
        color: hsl(var(--color-shade150));
        font-family: '$default';
        word-break: break-word;
      }
    </style>
  </body>
</html>
