---
import '../style/global.scss';
import BaseHead from '../components/BaseHead.astro';

interface Props {
  frontmatter: {
    title: string;
    description: string;
    datePublished: string;
    dateModified: string;
  };
  url: string;
}

const { frontmatter, url } = Astro.props as Props;
const { title, description, datePublished, dateModified } = frontmatter;

console.log(url);
---

<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <BaseHead
      {title}
      {description}
      {dateModified}
      {datePublished}
      permalink={url}
    />
  </head>
  <body>
    <h1 class="title">{title}</h1>
    <time class="timestamp">{dateModified}</time>
    <article class="article">
      <slot />
    </article>
    <style lang="scss">
      .title {
        color: hsl(var(--color-shade150));
        font-size: 3.2rem;
      }

      .timestamp {
        display: inline-block;
        margin-bottom: 16px;
        margin-left: -16px;
        color: hsl(var(--color-shade100));
        font-size: 1.4rem;
        line-height: 14px;

        @media (screen and min-width: 992px) {
          margin-left: 0;
        }

        &::before {
          display: inline-block;
          width: 60px;
          height: 12px;
          content: '';
          margin-right: 8px;
          background-color: hsl(var(--color-shade20));
        }
      }

      .article {
        color: hsl(var(--color-shade150));
        font-family: '$default';
        word-break: break-word;
      }
    </style>
  </body>
</html>
