---
import '../style/global.scss';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Timestamp from '../components/Timestamp.astro';

interface Props {
  frontmatter: {
    title: string;
    description: string;
    datePublished: string;
    dateModified: string;
    draft?: boolean;
  };
  url: string;
}

const { frontmatter, url } = Astro.props as Props;
const { title, description, datePublished, dateModified, draft } = frontmatter;
---

<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <BaseHead
      title={title}
      description={description}
      dateModified={dateModified}
      datePublished={datePublished}
      path={url}
      isDraft={draft}
    />
  </head>
  <body>
    <Header as="strong" />
    <main class="container">
      <h1 class="title">{title}</h1>
      <Timestamp dateModified={dateModified} />
      <article class="article">
        <slot />
      </article>
    </main>
    <Footer />
    <style lang="scss">
      .title {
        margin: 0 0 12px;
        color: hsl(var(--color-shade150));
        font-size: 3.6rem;
        line-height: 48px;
      }

      .article {
        margin-block-end: 40px;
        color: hsl(var(--color-shade150));
        word-break: break-word;

        :global(h2) {
          padding-block-start: 20px;
          font-size: 2.8rem;
          line-height: 36px;

          &:target {
            padding-block-start: 112px;
            margin-block-start: -92px;
          }
        }

        :global(h3) {
          padding-block-start: 14px;
          font-size: 2.2rem;
          line-height: 30px;

          &:target {
            padding-block-start: 112px;
            margin-block-start: -98px;
          }
        }

        :global(h2, h3) {
          margin-inline: 0;
          margin-block-start: 0;
          margin-block-end: 8px;
        }

        :global(a) {
          color: hsl(var(--color-accent));
        }

        :global(img) {
          max-width: 100%;
          margin-block-end: 8px;
          padding-block-start: 8px;
        }

        :global(ul, ol) {
          margin: 0 0 16px;
          padding-inline-start: 16px;
        }

        :global(li) {
          font-size: 1.6rem;
          line-height: 1.75;
        }

        :global(ul li) {
          list-style-type: square;
        }

        :global(> p) {
          margin: 0 0 16px;
          font-size: 1.6rem;
          line-height: 1.5;
        }

        :global(blockquote) {
          margin: 0 0 16px;
          padding: 12px;
          background-color: hsl(var(--color-shade20));
          border-radius: 12px;

          @media screen and (min-width: 768px) {
            width: 80%;
          }

          @media screen and (min-width: 992px) {
            margin: 0 0 16px -12px;
          }
        }

        :global(blockquote > p) {
          margin: 0;
          font-size: 2.8rem;
          line-height: 1.5;
        }

        :global(pre) {
          margin: 0 0 16px;
          padding: 12px;
          font-size: 1.4rem;
          line-height: 1.5;
          border-radius: 12px;
        }

        :global(pre code) {
          font-family: var(--mono-fonts);
        }

        :global(code:not(pre code)) {
          display: inline-block;
          color: hsl(var(--color-decor));
          padding-inline-start: 4px;
          padding-inline-end: 4px;
          font-family: var(--mono-fonts);
          font-size: 84%;
          line-height: 1.5;
          vertical-align: baseline;
          background-color: #282a36;
          border-radius: 4px;
        }

        :global(> hr) {
          margin-block-end: 16px;
          border-style: solid;
          border-color: hsl(var(--color-shade20));
        }
      }
    </style>
  </body>
</html>
